<!DOCTYPE html>
<html lang="en">
<head>
  <title>List Your Land</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
	<br>
	<img src="https://images.campgroundsigns.com/img/lg/K/Camp-Host-Sign-K-5400.gif"  class="center">
	<div class="container">
  <div class="jumbotron " style="background-color: lightyellow">
    
    <h1 style="font-size: 50px">LIST YOUR LAND. BECOME A CAMP LORD</h1>
  </p>
    <p style="font-size: 20px">"Turn your land into a campsite, host nature friendly campers and earn additional revenue."</p> 
    <button  id="myBtn" style="background-color: brown"><a href="/campgrounds/new">Submit Your Land</a></button>
  </div>
</body>
</html>